APP_NAME=bot-rest-api
APP_ENV=development
APP_PORT=8080
BASE_URL=http://localhost:8080

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=bot_api
DB_SSLMODE=disable

API_KEY=your-api-key

UPLOAD_DIR=uploads
TEMP_DIR=tmp
MAX_UPLOAD_SIZE_MB=10